<!DOCTYPE html>
<html lang="en">
<head>

  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <style>
  .bg-1 { 
    background-color: #76597f; 
    color: #ffffff;
  }
  .bg-2 { 
    background-color: #474e5d; 
    color: #ffffff;
  }
  .bg-3 { 
    background-color: #fff; 
    color: #000000;
  }
  </style>
</head>
<body>

<div class="container-fluid bg-1 text-center">
  <h3>Chef It Up</h3>
  <img src="assets/image.jpg" class="img-circle" alt="Bird" width="350" height="350">
  <h3>Cook the best recipes right in your kitchen</h3>
</div>

<div class="container-fluid bg-2 text-center">
  <h3>Our user</h3>
  <p>This website is made to make all our lives a little easier, specifically when it comes to the kitchen.It is made for those who love to cook different recipes or those who would like to start. One thing for sure is we all love a homemade meal and with this website you are a step closer to making that delicious meal </p>
</div>

<div class="container-fluid bg-3 text-center">
  <h3>My personal story</h3>
  <p>As a recent college graduate who had little prior experience cooking, I often found myself wanting to cook but not knowing what to make or how to make it. So I often found myself ordering food which is pricey and not always delicious or healthy. However, with a recipe search website, I found that I could easily find many ideas of delicious meals to make depending on the ingredients I had in my fridge. Hence, I thought it would be a wonderful idea to make such a website for those in a similar position as me.</p>
</div>

</body>
</html>