<form method="POST" action="/profile/<%= currentUser.id %>/?_method=PUT">
    <label>Name</label>
    <input type="text" name="name" value="<%= currentUser.name %>">
    <label>Email</label>
    <input type="text" name="email" value="<%= currentUser.email %>">
    <input type="submit">
</form>