<form method="POST" action="/profile/edit/<%= currentUser.id %>/?_method=PUT">
    <label> <span class="glyphicon glyphicon-pencil"></span>Name</label>
    <input type="text" name="name" value="<%= currentUser.name %>">
    <label><span class="glyphicon glyphicon-pencil"></span>Email</label>
    <input type="text" name="email" value="<%= currentUser.email %>">
    <input type="submit">
</form>