<%- include('partials/alerts') %> 
<form method="POST" action="/profile/<%= currentUser.id %>/?_method=PUT">
    <label>Name</label><span class="glyphicon glyphicon-pencil"></span>
    <input type="text" name="name" value="<%= currentUser.name %>">
    <label>Email</label><span class="glyphicon glyphicon-pencil"></span>
    <input type="text" name="email" value="<%= currentUser.email %>">
    <input type="submit">
</form>