<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Theme The Band</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="css/index.css">
  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"> -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  
</head>
<body>

  <div class="py-5 text-center container" >
    <div id="myCarousel" class="carousel slide" data-bs-ride="carousel">
        <ol class="carousel-indicators">
          <li data-target="#myCarouselLight" data-slide-to="0" class="active"></li>
          <li data-target="#myCarouselLight" data-slide-to="1"></li>
          <li data-target="#myCarouselLight" data-slide-to="2"></li>
        </ol>
      
    
        <div class="carousel-inner" >
          <div class="item active">
            <img src="assets/recipes.jpg" alt="Recipe Page">
            <div class="carousel-caption">
              <h3>Recipe Page</h3>
              <p>Make a page of your favoorite recipes</p>
            </div> 
          </div>
      
          <div class="item">
            <img src="assets/show.jpg" alt="Chicago">
            <div class="carousel-caption">
              <h3>Show Full Recipe</h3>
              <p>Get full information on individual recipe</p>
            </div> 
          </div>
      
          <div class="item">
            <img src="assets/profile.jpg" alt="Profile">
            <div class="carousel-caption">
              <h3>Profile</h3>
              <p>Examples Profile page </p>
            </div> 
          </div>
        </div>
      
      
        <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
          <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
          <span class="sr-only">Previous</span>
        </a>
        <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
          <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
          <span class="sr-only">Next</span>
        </a>
      </div>
  </div>  

<div class="container text-center">
  <span class="glyphicon glyphicon-cutlery logo"></span>
  <h2>Chef It Up</h2>
  <p><em>Find the best recipes</em></p>
  <p>We believe everyone can cook from home, ready to eat!</p>
  
  <div class="col-sm-4">
    <img src="assets/jollof and plantain.jpg" alt="Random Name" width="300" height="300">
  </div>
  <div class="col-sm-4">
    <img src="assets/mac and cheese.jpeg" alt="Random Name" width="300" height="300">
  </div>
  <div class="col-sm-4">
    <img src="assets/thanksgiving.jpg" alt="Random Name" width="300" height="300">
  </div>
</div>
<div class="container">
    <h3 class="text-center">Contact</h3>
    <p class="text-center"><em>We love feedback!</em></p>
    <div class="row test">
      <div class="col-md-4">
        <p>Have feedback? Drop a note</p>
        <p><span class="glyphicon glyphicon-map-marker"></span>San Francisco, US</p>
        <p><span class="glyphicon glyphicon-phone"></span>Phone: 605 555 3234</p>
        <p><span class="glyphicon glyphicon-envelope"></span>Email: mail@mail.com</p> 
      </div>
      <div class="col-md-8">
        <div class="row">
          <div class="col-sm-6 form-group">
            <input class="form-control" id="name" name="name" placeholder="Name" type="text" required>
          </div>
          <div class="col-sm-6 form-group">
            <input class="form-control" id="email" name="email" placeholder="Email" type="email" required>
          </div>
        </div>
        <textarea class="form-control" id="comments" name="comments" placeholder="Comment" rows="5"></textarea>
        <div class="row">
          <div class="col-md-12 form-group">
            <button class="btn pull-right" type="submit">Send</button>
          </div>
        </div> 
      </div>
    </div>
  </div>
  <style>
   .item-active {
background-color: rgb(1, 216, 54) !important;
}
  .logo {
    font-size: 70px;
  }
  </style>

<style>
  footer {
    background-color: #2d2d30;
    color: #f5f5f5;
    padding: 32px;
  }
  
  footer a {
    color: #f5f5f5;
  }
  
  footer a:hover {
    color: #777;
    text-decoration: none;
  }
  </style>
  
  <footer class="text-center">
    <a class="up-arrow" href="#myPage" data-toggle="tooltip" title="TO TOP">
      <span class="glyphicon glyphicon-chevron-up"></span>
    </a><br><br>
    <p>Bootstrap Theme Made By <a href="/recipes" data-toggle="tooltip" title="Visit w3schools">/recipes</a></p> 
  </footer>
  
  <script>
  $(document).ready(function(){
    // Initialize Tooltip
    $('[data-toggle="tooltip"]').tooltip(); 
  })
  </script>
 </body>
</html> 
