<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Authentication</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/layout.css">
  </head>
  <body>
      <%- include('partials/alerts') %>
        <% if (!currentUser) {%>
      <nav class="navbar navbar-expand navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="#">Logo</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
              <li class="nav-item"><a class="nav-link" href="/auth/signup">Sign Up</a></li>
              <li class="nav-item"><a class="nav-link" href="/auth/login">Login</a></li>
              <li class="nav-item"><a class="nav-link" href="/articles">Articles</a></li>
              <li class="nav-item"><a class="nav-link" href="/recipes/search">SEARCH</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="/profile">My account</a></li>
                  <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Media</a></li> 
                </ul>
              </li>
              <li class="nav-item"><a href="/recipes/search"><span class="glyphicon glyphicon-search"></span></a></li>
            </ul>
          </div>
        </div>
      </nav>
    <% } else { %>
      <nav class="navbar navbar-expand navbar-fixed-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
              <span class="icon-bar"></span>
              <span class="icon-bar"></span>
              <span class="icon-bar"></span> 
            </button>
            <a class="navbar-brand" href="#">Logo</a>
          </div>
          <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav navbar-right">
              <li class="nav-item"><a class="nav-link" href="/">HOME</a></li>
              <li class="nav-item"><a class="nav-link" href="/auth/logout">Sign Up</a></li>
              <li class="nav-item"><a class="nav-link" href="r/ecipes/search">SEARCH</a></li>
              <li class="nav-item"><a class="nav-link" href="/profile">My account</a></li>
              <li class="nav-item"><a class="nav-link" href="/recipes/index">My recipes</a></li>
              <li class="dropdown">
                <a class="dropdown-toggle" data-toggle="dropdown" href="#">MORE
                  <span class="caret"></span>
                </a>
                <ul class="dropdown-menu">
                  <li class="nav-item"><a class="nav-link" href="/profile">My account</a></li>
                  <li class="nav-item"><a class="nav-link" href="/about">About</a></li>
                  <li class="nav-item"><a class="nav-link" href="#">Media</a></li> 
                </ul>
              </li>
              <li class="nav-item"><a a class="nav-link" href="/recipes/search"><span class="glyphicon glyphicon-search"></span></a></li>
            </ul>
          </div>
        </div>
      </nav>
    <% } %>
      
    <%- body %> 
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-u1OknCvxWvY5kfmNBILK2hRnQC3Pr17a+RTT6rIHI7NnikvbZlHgTPOOmMi466C8" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.6/dist/umd/popper.min.js" integrity="sha384-oBqDVmMz9ATKxIep9tiCxS/Z9fNfEXiDAYTujMAeBAsjFuCZSmKbSSUnQlmh/jp3" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/js/bootstrap.min.js" integrity="sha384-7VPbUDkoPSGFnVtYi0QogXtr74QeVeeIs99Qfg5YCF+TidwNdjvaKZX19NZ/e6oz" crossorigin="anonymous"></script>
  </body>
</html>
